<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>table { border-collapse: collapse;}  </style>
  <title>달력 만들기</title>

  <script type="text/javascript" th:inline="javascript" >
    var schedules = [[${schedules}]];
    function getSchedules(id) {
      console.log("getSchedules()....")
      //ids.has(id) ? ids.delete(id) : ids.add(id);
    //  console.log(ids);
      getSchedulesByIds();
    }

    function getSchedulesByIds() {
      let data = new Set();
      let checks = 'input[name="checks"]:checked';
      let checkeds = document.querySelectorAll(checks);
      checkeds.forEach((v)=>{
       data.add(v.value);
      })
      let param = Array.from(data).join();

      $.ajax({
        type: "GET",
        url: "/main/schedules?ids="+param
      }).done(function (result){
        //$('#table').replaceWith(result);
      })
    }

    function addId(id){
      //ids.add(id);
    }

    var today = new Date();//오늘 날짜

    function prevClaendar(){//이전 달력
      today = new Date(today.getFullYear(), today.getMonth()-1,today.getDate());
      buildCalendar();
    }
    //다음 달력을 오늘을 저장하고 달력에 뿌려줌
    function nextCalendar(){
      today = new Date(today.getFullYear(), today.getMonth()+1,today.getDate());
      buildCalendar();

    }

    function buildCalendar(){
      var nMonth = new Date(today.getFullYear(),today.getMonth(),1);// 이번달의 첫번째날
      var lastDate =new Date(today.getFullYear(),today.getMonth()+1,0);//이번달의 마지막날
      var tblCalendar =document.getElementById("calendar");    //테이블 달력을 만드는 테이블
      var tblCalendarYM =document.getElementById("calendarYM"); ///XXXX년도XX월 출력
      tblCalendarYM.innerHTML = today.getFullYear()+"년"+(today.getMonth()+1)+"월";

      //기존에 테이블에 잇던 달력 내용 삭제
      while(tblCalendar.rows.length>2){
        tblCalendar.deleteRow(tblCalendar.rows.length -1);
      }
      var row = null;
      row =tblCalendar.insertRow();
      var cnt =0;
      // 1일이 시작되는 칸을 맞추어줌

      for ( i=0; i <nMonth.getDay(); i++) {
        cell =row.insertCell();
        cnt = cnt + 1;
      }

      //달력 출력
      for(i=1; i<=lastDate.getDate(); i++){
        cell =row.insertCell();
        cell.innerHTML = i;
        schedules.forEach((t)=>{
          if(t.month==(today.getMonth()+1) && t.day==i){
            cell.innerHTML += "<br>";
            cell.innerHTML += "<a href='#'>"+t.title+"-"+t.hour+ "시"+t.minute+"분</a>";
          }
        });
        cnt = cnt + 1;
        if (cnt%7 == 0)    //1주=7일
          row = calendar.insertRow();

      }
    }

  </script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 align="left" th:text="|${userId + '의 일정표'}|"></h2>
    </div>
    <div class="col btn-group justify-content-end">
      <div class="form-check" th:each="scheduler : ${schedulers}" th:onload="'addId('+${scheduler.id}+')'">
        <input type="checkbox" class="btn-check" th:id="${scheduler.id}" th:value="${scheduler.id}" th:onclick="'getSchedules('+${scheduler.id}+')'" name="checks" autocomplete="off" checked>
        <label class="btn btn-outline-primary" th:text="${scheduler.title}" th:for="${scheduler.id}"></label>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div id="table">
  <table class="table table-bordered" id="calendar">
    <tr class="table-primary" >
      <td align ="center" onclick="prevClaendar()"> <label> < </label> </td>
      <td colspan="5" align ="center" id="calendarYM">yyyy년 m월</td>
      <td align ="center" onclick="nextCalendar()"> <label> > </label> </td>
    </tr>

    <tr class="table-info">
      <td align="center">일</td>
      <td align="center">월</td>
      <td align="center">화</td>
      <td align="center">수</td>
      <td align="center">목</td>
      <td align="center">금</td>
      <td align="center">토</td>
    </tr>

  </table>
  </div>
</div>
<script type="text/javascript" >
  buildCalendar();
</script>
</th:block>

</body>
</html>